<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/src/css/pdv/pdvProdutos.css" />
    <title>PDV</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <%- include('./partials/usermenu.ejs') %> <%-
      include('./partials/linkPages.ejs') %>
      <h1 class="text-pdv-produtos">Ponto de Venda</h1>
      <section class="pdv-produtos">
        <section class="pdv-dados-produtos">
          <h2>Produtos Adicionados</h2>
          <div class="container-dados-compra">
            <div class="dados-produto-single">
              <div class="compra-single">
                <h3>Ean:</h3>
                <span>312312</span>
              </div>
              <div class="compra-single">
                <h3>Nome:</h3>
                <span>Brahma Duplo Malte</span>
              </div>
              <div class="compra-single">
                <h3>Preço:</h3>
                <span>12,50</span>
              </div>
            </div>
          </div>
        </section>

        <section class="pdv-finalizar">
          <h2>Finalização de venda</h2>
          <div class="finalizar-compra">
            <div class="lista-produtos-compra">
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
              <div class="produto-single-store">
                <span class="nome-produto-compra">Cerveja Brahma - 600 ml</span>
                <div class="dados-compra-single">
                  <span>Quantidade: 50</span>
                  <span>Valor: 12,50</span>
                </div>
              </div>
            </div>
          </div>
          <div class="info-total-descontos">
            <span class="total-produtos">Total:</span>
            <span>Descontos:</span>
            <span></span>
          </div>
          <input
            class="btn-finalizarCompra"
            type="submit"
            value="Finalizar Compra"
          />
        </section>
      </section>
    </main>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
